In [1]:
# -*- coding: utf-8 -*-
"""
Created on Wen Jan 19 13:00:00 2022

@author: mbac
"""

'\nCreated\xa0on\xa0Wen\xa0Jan\xa019\xa013:00:00\xa02022\n\n@author:\xa0mbac\n'

## 1. Import dependencies

In [2]:
import pandas as pd
import json
from pandas import ExcelWriter
from pandas import json_normalize

## 2. Import .xlsx file with returned JSON objects

In [3]:
url = 'https://github.com/mantasbacys/TREFOR/blob/main/Data/Adresser.xlsx?raw=true'
df = pd.read_excel(url)
df

     INSTNR                                       API_response
0        13  {'kategori': 'A', 'resultater': [{'adresse': {...
1        15  {'kategori': 'A', 'resultater': [{'adresse': {...
2        19  {'kategori': 'A', 'resultater': [{'adresse': {...
3       110  {'kategori': 'A', 'resultater': [{'adresse': {...
4       113  {'kategori': 'A', 'resultater': [{'adresse': {...
..      ...                                                ...
495   12036  {'kategori': 'A', 'resultater': [{'adresse': {...
496   12038  {'kategori': 'A', 'resultater': [{'adresse': {...
497   12040  {'kategori': 'A', 'resultater': [{'adresse': {...
498   12042  {'kategori': 'A', 'resultater': [{'adresse': {...
499   12043  {'kategori': 'A', 'resultater': [{'adresse': {...

[500 rows x 2 columns]

## 3. Normalize/Flatten returned JSON objects to extact chosen attributes

In [4]:
df['kategori'] = df['API_response'].str.get('kategori')
df['id'] = (
    df['API_response']
    .str.get('resultater')  # get resultater object
    .str.get[0]  # get first element in list
    .str.get('adresse')
    .str.get('id')
)
df['adgangsadresseid'] = (
    df['API_response']
    .str.get('resultater')  # get resultater object
    .str.get[0]  # get first element in list
    .str.get('adresse')
    .str.get('adgangsadresseid')
)
df

AttributeError: Can only use .str accessor with string values!

## 4. Save the results to a new .xlsx file

In [ ]:
data.to_excel('flat.xlsx',index=False)